

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#mainContent {
    padding-top: 75px;
}

#resultTable {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}









